body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  border-radius: 10px;
}

.flights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane {
  fill: #ffa500;
}

.cal-loader__path {
  stroke: #ffffff;
  animation: 1.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}

#outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-group {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.right-group {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.box {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  max-width: 277px;
  height: auto;
}

.wrapper > div > div {
  width: 484px !important;
  padding: 24px !important;
  border-radius: 10px;
}

.board {
  margin-top: auto;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  color: blue;
  margin-right: 8px;
  font-size: small;
}

.comments {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  background-color: rgb(214, 212, 212);
  border-radius: 10px 10px 10px 10px;
}

.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
  justify-content: space-between;
}

.createdAt {
  font-size: small;
  margin-left: 10px;
  margin-top: auto;
}

.name {
  font-size: large;
}

.bottom-line {
  display: flex;
  justify-content: flex-end;
}

.comment-pic {
  max-width: 70px;
  height: 70px;
}

.comment {
  width: 90%;
}
