body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  border-radius: 10px;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
}

.cal-loader__plane {
  fill: #ffa500;
}

.cal-loader__path {
  stroke: #ffffff;
  animation: 1.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}

#outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-group {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.right-group {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.box {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  max-width: 277px;
  height: auto;
}
